{% extends 'index.html' %}
{% block body %}
{<!DOCTYPE html>}
{<html lang="en">}
{<head>}

{</head>}

<body>
  <div class="container">
    <h2 class="text-center">Add Song</h2>
    <form action="/addsongPost" method="post" enctype="multipart/form-data" id="form1">
      <div class="form-group">
        <label for="songName" class="form-label">Song Name</label>
        <input type="text" class="form-control song-name" id="songName" name="textfield" required />
      </div>
      <div class="form-group">
        <label for="songFile" class="form-label">Song File</label>
        <input type="file" class="form-control-file" id="songFile" name="file" required />
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-custom">Add Song</button>
      </div>
    </form>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{#</html>#}
{% endblock %}
